$green: #2c856b;
$lightGreen: #d5e7e1;
$brightGreen: #3fd860;
$black: #000000;
$yellow: #f39b35;
$lightYellow: #fcde90;
$darkBlue: #0c394d;
$lightBlue: #3490bb;
$lighterBlue: #89cdb4;
$red: #f05e6d;
$grey: #d5d5d5;
$lightGrey: #dbdbdb;
$orange: #f76541;
$lightOrange: #f9ad9a;
$purple: #503850;
$lightPurple: #876789;
$pink: #fcd0d5;



//TODO utiliser les mixins css pour les tags qui auront des couleurs différentes