SPOTIFY_ID='spotify_id_here'
SPOTIFY_SECRET='spotify_secret_here'
SPOTIFY_USERNAME='spotify_username_here'
SPOTIFY_REDIRECT='http://127.0.0.1:5001/callback'
GPT_KEY='gpt_key_here'
SECRET_KEY=very_long_key
FRONTEND_URL=http://127.0.0.1:5001
